@import './basics/base.css';
@import './basics/helpers.css';

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* HEADER */
.app-header {
	background-color: lightcyan;
	padding: 1rem;
}

/* CONTAINER */
.app-container {
	padding: 1rem;
	flex-grow: 1;
	position: relative;

	overflow-x: hidden;
}

.book-preview {
	padding: 1rem;
	box-shadow: 0 0 5px 0px #00000063;
	border-radius: 5px;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.book-preview img {
	height: 70%;
}

/* FOOTER */
.app-footer {
	background-color: lightpink;
}

/* MODALS */

.details-modal {
	position: absolute;
	top: 10px;
	right: 50%;

	/* width: 80%;
	height: 70%; */

	transition: 0.3s;

	background-color: white;
	padding: 1rem;
	border-radius: 8px;
	box-shadow: 0 0 5px 0px #00000063;
}

.modal.open {
	right: 15px;
}
