@import './basics/base.css';
@import './basics/helpers.css';

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: rgb(249 243 238);
}

/* HEADER */
.app-header {
	padding: 1rem;
	justify-content: space-between;
	align-items: center;
}

/* CONTAINER */
.app-container {
	padding: 1rem;
	flex-grow: 1;
	position: relative;
	overflow-x: hidden;
}

.book-list {
	padding: 1rem;
	height: 70vh;
	background-color: white;
	overflow: scroll;
	overflow-x: hidden;

	/* width */
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgb(249 243 238);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(217 170 99);
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
	background: #555;
} */

.book-preview {
	padding: 1rem;
	box-shadow: 0 0 5px 0px #00000063;
	border-radius: 5px;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.book-preview:hover {
	box-shadow: 0 0 5px 0px rgb(217 170 99);
	cursor: pointer;
}

.info {
	text-align: center;
}

.book-preview img {
	height: 70%;
}

.book-preview .id {
	color: rgb(180, 180, 180);
	font-size: 13px;
}

.book-preview h4:hover {
	text-decoration: underline;
}

.book-preview .remove-btn {
	position: absolute;
	bottom: 15px;
	left: 15px;
}

.book-preview .edit-btn {
	position: absolute;
	bottom: 15px;
	right: 15px;
}

/* FOOTER */
.app-footer {
	background-color: white;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

/* MODALS */
.modal {
	position: absolute;
	top: 10px;
	right: 15px;
	left: 15px;
	height: 90%;
	background-color: white;
	padding: 1rem;
	box-shadow: 0 0 5px 0px #00000063;
	border-radius: 8px;
	transition: 0.3s;

	display: flex;
}

.details-modal {
	flex-direction: column;
	justify-content: space-between;
}

.details-modal img {
	height: 60%;
}

.edit-modal {
	flex-direction: column;
	justify-content: space-between;
}

.edit-form {
	flex-direction: column;
	justify-content: space-between;
}

.logo span {
	color: rgb(217 170 99);
}
